html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

.content-wrapper {
	margin:0px auto;
	max-width:1100px;
}

.content {
	width:100%;
	background-color:#EEE;
	padding:20px;
}

#main-menu {
	margin:0px -20px;
	display:none;
}
#main-menu ul {
	display:flex;
	flex-wrap:wrap;
	list-style:none;
	margin:0px -10px;
	padding:0px 20px;
	background-color:#333;
	color:#FFF;
}

#main-menu li {
	float:left;
	max-width:200px;
	line-height:30px;
	border:solid 0px #000;
	padding:10px 7px;
	margin:0px 4px;
	font-weight:bold;
	font-family:sans-serif;
	font-size:12pt;
}

#main-menu li:hover{
	background-color:#777;
	cursor:pointer;
}
#main-menu li.selected {
	background-color:#555;
	cursor:default;
}
#main-menu li img {
	-webkit-filter: invert(100);
	filter:  invert(100);
	width:20px;
	height:20px;
	vertical-align:middle;
	margin:0px 3px;
}
.projectList-wrapper {
	font-size:24pt;
	font-family:sans-serif;
	font-weight:bold;
	margin-top:-15px;
	margin-bottom:5px;
}
.content #projectList {
	margin:0px;
	margin-top:-5px;
	padding:0px;
}

.item-content {
	padding:20px;
}

.item-content input[type=button] { 
	border:solid 1px #000;
	font-weight:bold;
	font-family:sans-serif;
	background-color:#333;
	color:#FFF;
	padding:5px 10px;
	cursor:pointer;
}
.item-content input[type=button]:hover { 
	background-color:#777;
}
.item-content input[type=button]:active { 
	border-color:#888;
	background-color:#888;
}
.item-content label { 
	font-weight:bold;
	font-family:sans-serif;
}

.ui-tabs-tab.ui-state-default {
	background-color:#e9e9e9 !important;
}

.ui-tabs-tab.ui-state-active {
	background-color:#FFF !important;
	border-color:#000 !important;
	font-weight:bold !important;
}
.ui-tabs-tab.ui-state-active a {
	color:#000 !important;
}
.select2-container--default .select2-selection--single {
	border-radius:0px;
	border:0px;
	width:400px;
	padding:0px;
	text-align:left;
	height:40px;
	margin:0px -5px;
	margin-top:-2px;
	background:transparent;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color:#000;
	font-weight:300;
	font-family:sans-serif;
	line-height:40px;
}

.select2-container--default .select2-selection--single:hover {
}
.select2-container--default .select2-selection--single:hover  .select2-selection__rendered {
	//font-weight:bold;
	background-color:#FFF;
}

.select2-selection__arrow b {
	display:none !important;
}
.select2-dropdown.select2-dropdown--below {
	width:400px !important;
	margin-left:-5px;
}
.dataTable tr {
	opacity:0.8;
}
.dataTable tbody tr:hover {
	background:#EEE;
	cursor:pointer;
	opacity:1;
}
.dataTable tbody tr:hover td {
	border-color:#EEE;
	margin:-1px;
}
.dataTable tr.selected {
	opacity:1;
}
.dataTable th:hover {
	text-decoration:underline;
}

.dataTable tr.issue-note {
	background-color:#FFF;
}
.dataTable tr.issue-warning {
	background-color:#FFA;
}
.dataTable tr.issue-critical-error {
	background-color:#FAA;
}
.dataTable tr.issue-error {
	background-color:#FCA;
}


div.dt-buttons {
	padding-top:0.25em;
}


/***********************************

		GOOGLE MAPS

************************************/

.map-wrapper {
	width:100%;
	height:50vh;
	border:solid 1px #000;
	background-color:#AAA;
	margin:20px 0px;
}

.map-legend {
	margin-bottom:30px;
}
.map-legend .show-hide_toggle {
	display:block;
	margin:0px auto;
	text-align:center;
	color: #00F;
	text-decoration:underline;
}
.map-legend .show-hide_toggle:hover {
	cursor:pointer;
	text-decoration:none;
	color:#33F;
}

.map-legend input[type=checkbox] {
	display:none;
}
.map-legend input[type=checkbox] +.show-hide_toggle +.map-legend-tbl {
	display:none;
}
.map-legend .show-hide_toggle span:before {
	content:'Show ';
}
.map-legend input[type=checkbox]:checked  +.show-hide_toggle span:before {
	content:'Hide ';
}
.map-legend input[type=checkbox]:checked +.show-hide_toggle +.map-legend-tbl {
	display:table;
	margin:0px auto;
}
.map-legend td {
	text-align:center;
}
.map-legend-tbl input[type=checkbox] +label {
	cursor:pointer;
	opacity:0.5;
}
.map-legend-tbl input[type=checkbox]:checked +label {
	opacity:1; 
}
.map-legend-tbl input[type=checkbox] +label:hover {
	opacity:0.65; 
}
.map-legend-tbl input[type=checkbox]:checked +label:hover {
	opacity:0.85; 
}

#card-menu  {
	margin:0px auto;
	margin-top:0px;
	display: flex;
	flex-wrap: wrap;
}

#card-menu > div  {
	text-align:center;
	background:#FFF;
	padding:5px;
	border:solid 2px #FFF;
	margin:5px;
	cursor:pointer;
	font-family:sans-serif;
	width:250px;
}
#card-menu > div img {
	height:50px;
	margin-top:20px;
}
#card-menu > div:not(.selected) img {
	animation: tile_hover_out 0.25s ease-in-out 1;
	filter:invert(100%) drop-shadow(0px 0px 1px black);
}
#card-menu > div:not(.selected):hover img {
	animation: tile_hover 0.25s ease-in-out 1;
}
#card-menu > div:hover img, #card-menu > div.selected img {
	filter:invert(10%)drop-shadow(0px 0px 2px #F50);
}

#card-menu > div:hover, #card-menu > div.selected {
	border:solid 2px #AAA;
}


@keyframes tile_hover {
	from {filter:invert(100%) drop-shadow(0px 0px 1px black);}
	to {filter:invert(10%) drop-shadow(0px 0px 2px #F50);}
}
@keyframes tile_hover_out {
	from {filter:invert(10%) drop-shadow(0px 0px 2px #F50);}
	to {filter:invert(100%) drop-shadow(0px 0px 1px black);}
}




#card-menu .widgets {
	padding:0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	width:250px;
}
#card-menu canvas {
	cursor:pointer;
}

#card-menu  .widgets > div {
	max-width:50%;
	list-style:none;
	font-weight:bold;
	padding:4px;
	background-color:#FAFAFA;
	border:solid 2px #FAFAFA;
	margin:2px;
}
#card-menu  .widgets > div.warning {
	background-color:#FFDDAA;
	border:solid 2px #FDA;
}
#card-menu  .widgets >  div.good {
	background-color:#DDFFDD;
	border:solid 2px #DFD;
}
#card-menu  .widgets >  div.critical {
	background-color:#FFAAAA;
	border:solid 2px #FAA;
}

#card-menu  .widgets >  div:hover {
	border:solid 2px #000;
	cursor:pointer;
}
#card-menu  .widgets > div span {
	font-size:24pt;
}
#card-menu  .widgets > div span.small {
	font-size:16pt;
}

#card-menu.collapsed #card-menu_btn {
	display:block;
}

#card-menu:not(.collapsed) .card-menu_btn {
	display:none;
}

#card-menu .card-menu_btn {
	height:20px;
	float:right;
	padding:9px 10px;
	cursor:pointer;
}

#card-menu.collapsed.hidden .card-menu_btn {
	position:absolute;
	top:0px;
	left:2px;
	opacity:.7;
}
#card-menu.collapsed.hidden #card-settings_btn {
	top:40px;
}

#card-menu.collapsed .card-menu_btn:hover {
	opacity:1;
}


#card-menu.collapsed.hidden > div {
	display:none;
}
#card-menu.collapsed {
	max-width:250px;
	position:fixed;
	top:0px;
	left:0px;
	bottom:0px;
	justify-content:right;
	z-index:999;
	background-color:#EEE;
	border-right:solid 2px #333;
}

#card-menu.collapsed > div  {
	height:50px;
}
#card-menu:not(.collapsed) #card_main {
	display:none;
}
#card-menu.collapsed .widgets {
	display:none;
}
#card-menu.collapsed > div > div:not(.widgets) {
	display: flex;
	flex-wrap: nowrap;
	justify-content:center;
	align-items:center;
}
#card-menu.collapsed > div > div:not(.widgets) img {
	height:20px;
	line-height:50px;
	vertical-align: super;
	flex-grow:1;
}
#card-menu.collapsed > div > div:not(.widgets) h3 {
	margin:0px;
	margin-left:10px;
	flex-grow:4;
}


/*	.select2-container .select2-choice .select2-arrow {
	background-image: -khtml-gradient(linear, left top, left bottom, from(#424242), to(#030303));
	background-image: -moz-linear-gradient(top, #424242, #030303) !important;
	background-image: -ms-linear-gradient(top, #424242, #030303);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #424242), color-stop(100%, #030303));
	background-image: -webkit-linear-gradient(top, #424242, #030303);
	background-image: -o-linear-gradient(top, #424242, #030303);
	background-image: linear-gradient(#424242, #030303) !important;
	color: #fff !important;
	font-size: 1.3em !important;
	padding: 4px 12px !important;
} */