
body {
	padding-left:40px;
	font-family:sans-serif;
}

#userContent_wrapper {
	position:absolute;
	top:0px;
	right:0px;
	height:50px;
}
#userContent_wrapper > div {
	display:inline-block;
	padding-top:30px;
	padding-right:10px;
}
#login_wrapper {
	display:inline-block;
	margin-right:15px;
	cursor:pointer;
	font-weight:bold;
}
.content_table {
  width: 100%;
  border-collapse: collapse;
  display:inline-table;
}
.content_table tbody, 
.content_table tr {
  width: 100%;
}

.content_table > tbody > tr > td {
  vertical-align: top;
}
.content_table > tbody > tr > td:first-child {
  width: 60%;
  min-width: 300px;
}
.content_table > tbody > tr > td:last-child {
  width: 40%;
}


.tracks_map_container {
  width: 100%;
  padding-right:10px;
}

.tracks_map_container h3 {
	padding: 0 10px;
	margin:0px;
	line-height: 30px;
	border: 1px solid #DDD;
	background-color: #EEE;
}

.tracks_map {
	width:100%;
  height:400px;
}

.station_manage {
  color: #00f;
  text-decoration: underline;
  padding-right: 10px;
}

.station_manage img {
  float: right;
}

.station_title {
  font-size: 30pt;
  border-bottom: solid 1px #CCC;
  margin: 0;
}

.station_title span {
  vertical-align: middle;
  font-size: 20px;
  height: 20pt;
  display: inline-block;
}

.icon {
  margin-left: 15px;
  opacity:0.75;
  cursor:pointer;
}
.station_manage_icon:hover {
	opacity:1;
	cursor:pointer;	
}


.station_species {
  border: 1px solid #DDD;
}
.station_metrics {
	margin:5px;	
	width:100%;
}

.station_metrics > *:not(.metric_controls):not(.visible):not(.header) {
	display:none;
}

.station_metrics > .header, .station_filters > .header {
	padding: 0 10px;
	margin:0px;
	line-height: 30px;
	border: 1px solid #DDD;
	background-color: #EEE;
	font-weight:bold;
	font-size:14pt;
}

.station_pic {
  width: 200px;
  height: 150px;
  text-align: center;
  white-space: nowrap;
}

.station_pic img {
  vertical-align: middle;
  max-height: 140px;
  max-width: 200px;
  cursor:pointer;
  padding: 1px;
  border: solid 1px #fff;
}

.station_pic img:hover {
  border:1px dashed #AAA;
}		

.station_filters {
	font-weight:bold;
	padding:10px;
}
.station_filters > .header {
	margin:-10px -10px 10px -10px;
}
.station_filters, .station_info {
	height:150px;
	vertical-align:top;
}
.station_filters > div {
	line-height:25px;
}

.station_info > table {
	display:inline-table;
	height:150px;
}
.station_info td:first-child > img {
	width:15px;
}

.station_about {
  padding: 10px;
}
.station_hourlyDetections img {
	max-height:300px;
}

.metric_controls {
	float:right;
	opacity:0.5;
	cursor:pointer;
	transition-duration:0.25s;
	transition-property:opacity;
	padding:2px;
	height:15px;
	white-space:nowrap;
}

.metric_controls:hover {
	opacity:1;
}

.metric_controls img {
	width:15px;
	display:inline-block;
}
.station_metrics > .graph {
	width:100%;
}
.station_species table {
  border-collapse: collapse;
}

.station_species table tr:nth-child(even) {
	background-color:#F5F5F5;
}
.station_species td {
  height: 30px;
  padding: 0 10px;
}

.station_species th {
  height: 30px;
  padding: 0 10px;
}

.station_species thead {
  line-height: 30px;
  border: 1px solid #DDD;
  background-color: #EEE;
}

.station_species td:nth-child(2) {
  font-style: italic;
}
.station_species tbody tr:hover {
	background-color:#FFD;
	cursor:pointer;
}

.station_species td:nth-child(3) {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: #00F;
}
.station_species .legend_color {
	width:10px;
	height:10px;
	border:solid 1px #000;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tooltip {
	display:none;
	z-index:99;
	position:absolute;
	background:#FAFAFA;
	border:solid 1px #DDD;
	border-radius:5px;
	padding:10px;
	font-weight:bold;
}

.enlarge {
	cursor:pointer;
}

#lightbox {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	cursor:pointer;
	display:none; 
	z-index:98;
	text-align: center;
	white-space: nowrap;
}
#lightbox img {
	max-height:80%;
	vertical-align:middle;
}
#lightbox_bg {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:none; 
	z-index:98;
	background:#555;
	opacity:0.5;
}
#leftMenu {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:50px;
	padding:20px 0px;
	background:transparent;
	border-right:none;
	transition-duration: 0.25s;
	transition-property: all;
}
#leftMenu.visible {
	z-index:96;
	background:#FFF;
	width:300px;
}

#leftMenu > div.content_wrapper {
	opacity:0;
	transition-duration: 0.25s;
	transition-property: all;
	overflow:hidden;
	display:none;
}
#leftMenu.visible > div.content_wrapper {
	opacity:1;
	display:block;
}
#leftMenu > div.content_wrapper ul {
	list-style:none;
	margin: 0;
	padding: 0;
}
#leftMenu > div.content_wrapper > a, 
#leftMenu > div.content_wrapper > div {
	display:block;
	padding:5px;
	margin:2px;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
} 
#leftMenu > div.content_wrapper > div {
	margin-top:10px;
}
#leftMenu > div.content_wrapper > a {
	background-color:#FAFAFA;
	border:solid 1px #AAA;
	color:#00A;
}
#leftMenu > div.content_wrapper > a:hover {
	background-color:#FFF;
}

#leftMenu img.icon.close {
	float:right;
	display:none;
	margin-right:10px;
}