body, html {
	
	font-family:sans-serif;
	width:100%;
	height:100%;
	overflow:hidden;
	margin: 0;
	padding: 0;
}


/*******************************************

	User controls

*******************************************/

#userControls_wrapper {
	position:absolute;
	top:0px;
	right:0px;
	height:50px;
}
#userControls_wrapper > div {
	display:inline-block;
	padding-top:30px;
	padding-right:10px;
}
#login_wrapper {
	display:inline-block;
	margin-right:15px;
	cursor:pointer;
	font-weight:bold;
}

/*******************************************

	Helpers and tooltips

*******************************************/

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tooltip {
	display:none;
	z-index:1099;
	position:absolute;
	background:#FAFAFA;
	border:solid 1px #DDD;
	border-radius:5px;
	padding:10px;
	font-weight:bold;
}


.enlarge {
	cursor:pointer;
}

/*******************************************

	Lightbox

*******************************************/

#lightbox {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	cursor:pointer;
	display:none; 
	z-index:1098;
	text-align: center;
	white-space: nowrap;
}
#lightbox img {
	max-height:80%;
	vertical-align:middle;
}
#lightbox_bg {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:none; 
	z-index:1098;
	background:#555;
	opacity:0.5;
	cursor:pointer;
}

/*******************************************

	Left Menu

*******************************************/


#leftMenu {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:50px;
	padding:20px 0px;
	background:transparent;
	border-right:none;
	transition-duration: 0.25s;
	transition-property: all;
}
#leftMenu.visible {
	z-index:1096;
	background:#FFF;
	width:300px;
}

#leftMenu > div.content_wrapper {
	opacity:0;
	transition-duration: 0.25s;
	transition-property: all;
	overflow:hidden;
	display:none;
}
#leftMenu.visible > div.content_wrapper {
	opacity:1;
	display:block;
}
#leftMenu > div.content_wrapper ul {
	list-style:none;
	margin: 0;
	padding: 0;
}
#leftMenu > div.content_wrapper > a, 
#leftMenu > div.content_wrapper > div {
	display:block;
	padding:5px;
	margin:2px;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
} 
#leftMenu > div.content_wrapper > div {
	margin-top:10px;
}
#leftMenu > div.content_wrapper > a {
	background-color:#FAFAFA;
	border:solid 1px #AAA;
	color:#00A;
}
#leftMenu > div.content_wrapper > a:hover {
	background-color:#FFF;
}

#leftMenu img.icon.close {
	float:right;
	display:none;
	margin-right:10px;
}




/*******************************************

	Explore Content

*******************************************/

.content-wrapper {
	overflow:none;
}

@media (min-width: 1600px) {
	.content-wrapper {
		--contentWidth: 1600px;
		width:var(--contentWidth);
		margin:0px auto;
	}

}
@media (max-width: 1600px) {
	.content-wrapper {
		--contentWidth: 100vw;
		width:var(--contentWidth);
	}

}



/*----------------------------------

	Header

-----------------------------------*/

.header {
	width: 100%;
}
.header .header-logos {
	height:100px;
}
.header .header-logos > img {
	height:100px;
	cursor:pointer;
}
.header .header-logos > img.birds-canada-logo {
	float:right;
	height:50px;
	margin-top:50px;
}

.header .header-menu-wrapper {
	width:100%;
	background-color:#25628f;
	transition-duration:0.5s;
	transition-property:background-color;
}
.header .header-menu-wrapper:hover {
	background-color:#1a4463;
}
.header .header-menu {
	color:#FFF;
	font-weight:600;
	margin: 0 auto;
	text-align:center;
}



.header .header-menu > div {
	display:inline-block;
	text-align:center;
	padding: 5px 30px;
	transition-duration:0.5s;
	transition-property:background-color;
	background-color:#25628f;
}


.header .header-menu > div:hover {
	background-color:#3387c4;
	cursor:pointer;
}

.header .header-menu:hover > div:not(:hover) {
	background-color:#1a4463;
}


@media (max-width: 1600px) {
	.header .header-menu  {
		font-size:1.7vw;
	}
	.header .header-menu > div {
		padding-left:calc(10px + ((100vw - 800px)/40));
		padding-right:calc(10px + ((100vw - 800px)/40));
	}
}
@media (max-width: 800px) {
	.header .header-menu {
		font-size:12pt;
	}
	.header .header-menu > div {
		padding: 5px 10px;
	}
}

@media (min-width: 1600px) {
	.header .header-menu {
		font-size:22pt;
	}
}

/*----------------------------------

	Title

-----------------------------------*/

.title-wrapper {
	padding:20px;
	padding-bottom: 0;
}
@media (max-width: 1600px) {
	.title-wrapper .title-header {
		font-size:3vw;
	}
}
@media (max-width: 1000px) {
	.title-wrapper .title-header {
		font-size:18pt;
	}
}

@media (min-width: 1600px) {
	.title-wrapper .title-header {
		font-size:36pt;
	}
}
.explore-card-wrapper {
	padding: 20px 20px;
	width:100%;
}
.explore-card-wrapper:not(.solo-card) .explore-card {
	margin:10px;
	border-radius:30px;
	border:solid 3px #000;
}
.explore-card {
	--explore-card-height: 255px;
	--explore-card-padding: 10px;
	display:block;
	vertical-align:top;
	text-align:center;
	padding:var(--explore-card-padding);
	height:calc( var(--explore-card-height) - ( var(--explore-card-padding ) * 2 ) );
}
.explore-card .tips {
	cursor:pointer;
}
.explore-card:not(.explore-card-map):not(.explore-card-add) {
	width:375px;
}
.explore-card:not(.explore-card-map) {
	float:left;
}
.explore-card-add:not(.visible):after {
	content:"\002B";
	font-size:100pt;
	line-height:235px;
}
.explore-card-add {
	cursor:pointer;
	transition-duration:0.25s;
	transition-property:color, border-color;
	color:#AAA;
	margin-right:20px;
	border:3px dashed #AAA;
}
.explore-card-add:hover, .explore-card-add.visible {
	color:#000;
	border-color:#000;
}
.explore-card-add.visible {
	padding-top: 115px;
    height: 130px;
	width:200px;
}
.explore-card-add:not(.visible) {
	width:77px;
}
.explore-card-add:not(.visible) > .select2 {
	display:none;
}

.explore-card > div {
	display:inline-block;
	vertical-align:top;
}
.explore-card .explore-card-image {
	width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 75px;
	border:solid 5px #000;
	background-image:url('https://www.flaticon.com/svg/static/icons/svg/25/25333.svg');
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
}
.explore-card .explore-card-status {
	text-align:center;
	width:200px;
}
.explore-card .explore-card-header {
	font-weight:600;
	font-size:20pt;
	margin-bottom:15px;
}
.explore-card .explore-card-status > div {
	display:inline-block;
	text-align:center;
	margin:10px;
	vertical-align:top;
}
.explore-card-wrapper.solo-card .explore-card-subtext  {
	display:none;
}
.explore-card .explore-card-subtext {
	font-weight:600;
	text-align:center;
	cursor:pointer;
	margin: 0 5px;
	margin-top:-10px;
}
.explore-card .explore-card-subtext:hover {
	text-decoration:underline;
}

.explore-card .explore-card-info {
	color:#00F;
}
.explore-card .explore-card-remove {
	color:#F00;
}

.explore-card-map {
	padding:0px;
	overflow:hidden;
	height:var(--explore-card-height);
	max-width:none;
	margin-right:40px;
	min-width:300px;
}

.explore-card-wrapper.solo-card .explore-card-map {
	height:calc(var(--explore-card-height) + 40px);
	margin:-20px;
}


@media (max-width: 1000px) {
	.explore-card-map {
		width:calc(100vw - 50px);
		margin-top:20px;
	}
}
.explore-card-map > .explore_map {
	height:100%;
	width:100%;
}



.explore-card-map .filterButton {
	padding:20px 10px;
	fill: #DDD;
	cursor:pointer;
}
.explore-card-map .toggleButton.mapBy {
	display:inline-block;
	text-align:center;
	cursor:pointer;
	margin-right:10px;
	border:solid 2px #000;
	padding:5px;
	border-radius:3px;
	background-color:#FFF;
	transition-duration:0.25s;
	transition-property:color background-color;
	fill:#000;
}


.explore-card-map .toggleButton.mapBy:hover {
	background-color:#DDD;
}


.explore-card-map .toggleButton.mapBy.selected {
	color:#FFF;
	background-color:#000;
	fill:#FFF;
}

/*
@media (max-width: 1600px) {
	.explore-card-map {
		width:calc(100vw - 570px);
	}
}
@media (max-width: 750px) {
	.explore-card-map {
		width:calc(100vw - 50px);
	}
}
@media (min-width: 1600px) {
	.explore-card-map {
		width:1030px;
	}
}*/


.status-icon {
	color:#FFF;
	border-radius:20px;
	width:20px;
	height:20px;
	padding:10px;
	font-family:sans-serif;
	font-weight:600;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center; 
	background-size: auto 20px;
	background-color:#777;
	transition-duration:0.5s;
	transition-property:background-color;
	cursor:pointer;
}

.status-icon-data-deficient:hover,.explore-card-wrapper.solo-card .status-icon-data-deficient {background-color:#777;}
.status-icon-not-evaluated:hover,.explore-card-wrapper.solo-card .status-icon-not-evaluated {background-color:#777;}
.status-icon-least-concern:hover,.explore-card-wrapper.solo-card .status-icon-least-concern {background-color:#0A0;}
.status-icon-conservation-dependent:hover, .explore-card-wrapper.solo-card .status-icon-conservation-dependent {background-color:#EF0;color:#000;}
.status-icon-near-threatened:hover, .explore-card-wrapper.solo-card .status-icon-near-threatened {background-color:#EF0;color:#000;}
.status-icon-vulnerable:hover, .explore-card-wrapper.solo-card .status-icon-vulnerable {background-color:#FA0;}
.status-icon-endangered:hover, .explore-card-wrapper.solo-card .status-icon-endangered {background-color:#F70;}
.status-icon-critically-endangered:hover, .explore-card-wrapper.solo-card .status-icon-critically-endangered {background-color:#0F0;}

.status-icon-tags:hover,.explore-card-wrapper.solo-card .status-icon-tags {
	background-color:#0AA;
}
.status-icon-tags {
	background-image:url('https://i.postimg.cc/vDFw83mj/Tag4.png');
}
.status-icon-projects:hover, .explore-card-wrapper.solo-card .status-icon-projects {
	background-color:#55A;
}
.status-icon-projects {
	background-image:url('https://www.flaticon.com/svg/static/icons/svg/616/616946.svg');
}
.status-icon-stations:hover, .explore-card-wrapper.solo-card .status-icon-stations {
	background-color:#A0A;
}
.status-icon-stations {
	background-image:url('https://i.postimg.cc/kg1BLyVC/station3.png');
}



/*----------------------------------

	Filter options

-----------------------------------*/

.filter-options-wrapper > .select2 {
	margin:10px;
	min-width:150px;
}