


#explore_controls .toggleButton:not(.no-default), .button {
	display:inline-block;
	text-align:center;
	cursor:pointer;
	margin:5px 0;
	border:solid 2px #000;
	padding:5px;
	border-radius:5px;
	background-color:#FFF;
	transition-duration:0.25s;
	transition-property:color background-color;
	fill:#000;
}


#explore_controls .toggleButton:not(.no-default):hover, .button:hover {
	background-color:#DDD;
}


#explore_controls .toggleButton:not(.no-default).selected {
	color:#FFF;
	background-color:#000;
	fill:#FFF;
}

html,body {overflow-y:hidden;}

body {
	opacity:0;
	padding-left:40px;
	font-family:sans-serif;
	transition-duration:0.5s;
	transition-property:opacity;
}
body.visible {
	opacity:1;
}
#userContent_wrapper {
	position:absolute;
	top:0px;
	right:0px;
	height:50px;
}
#userContent_wrapper > div {
	display:inline-block;
	padding-top:30px;
	padding-right:10px;
}
#login_wrapper {
	display:inline-block;
	margin-right:15px;
	cursor:pointer;
	font-weight:bold;
}





/*******************************************

	Explore Content

*******************************************/

.content-wrapper {
	overflow:none;
}

@media (min-width: 1700px) {
	.content-wrapper {
		--contentWidth: 1600px;
		width:var(--contentWidth);
		margin:0px auto;
	}

}
@media (max-width: 1700px) {
	.content-wrapper {
		--contentWidth: calc(100vw - 100px);
		width:var(--contentWidth);
	}

}



/*----------------------------------

	Header

-----------------------------------*/

.header {
	width: 100%;
}
.header .header-logos {
	height:100px;
}
.header .header-logos > img {
	height:100px;
	cursor:pointer;
}
.header .header-logos > img.birds-canada-logo {
	float:right;
	height:50px;
	margin-top:50px;
}

.header .header-menu-wrapper {
	width:100%;
	background-color:#25628f;
	transition-duration:0.5s;
	transition-property:background-color;
}
.header .header-menu-wrapper:hover {
	background-color:#1a4463;
}
.header .header-menu {
	color:#FFF;
	font-weight:600;
	margin: 0 auto;
	text-align:center;
}



.header .header-menu > div {
	display:inline-block;
	text-align:center;
	padding: 5px 30px;
	transition-duration:0.5s;
	transition-property:background-color;
	background-color:#25628f;
}


.header .header-menu > div:hover {
	background-color:#3387c4;
	cursor:pointer;
}

.header .header-menu:hover > div:not(:hover) {
	background-color:#1a4463;
}


@media (max-width: 1600px) {
	.header .header-menu  {
		font-size:1.7vw;
	}
	.header .header-menu > div {
		padding-left:calc(10px + ((100vw - 800px)/40));
		padding-right:calc(10px + ((100vw - 800px)/40));
	}
}
@media (max-width: 800px) {
	.header .header-menu {
		font-size:12pt;
	}
	.header .header-menu > div {
		padding: 5px 10px;
	}
}

@media (min-width: 1600px) {
	.header .header-menu {
		font-size:22pt;
	}
}

/*----------------------------------

	Title

-----------------------------------*/

.title-wrapper {
	padding:20px;
	padding-bottom: 0;
}
@media (max-width: 1600px) {
	.title-wrapper .title-header {
		font-size:3vw;
	}
}
@media (max-width: 1000px) {
	.title-wrapper .title-header {
		font-size:18pt;
	}
}

@media (min-width: 1600px) {
	.title-wrapper .title-header {
		font-size:36pt;
	}
}






.content_table {
  width: 100%;
  border-collapse: collapse;
  display:inline-table;
}

.explore_main {
	width: calc(100% - 50px);
	margin:0px auto;
	margin-top:20px;
}

.content_table tbody, 
.content_table tr {
  width: 100%;
}
.explore_main .content_table > tbody > tr > td {
  width: 100%;
}


.explore_stats > table {
	height:132px;
	width:100%;
	border-collapse:collapse;
}
.explore_stats td {
	display:inline-table;
	width: calc(14% - 4px);
	text-align:center;
	margin:0px auto;
	max-height:100px;
	font-weight:bold;
	cursor:pointer;
	vertical-align:middle;
}

.explore_stats td big {
	font-size:35pt;
	line-height:100px;
	display:block;
	transition-duration:0.5s;
	transition-property:font-size;
}
.explore_stats td small {
	font-size:16pt;
}

.explore_stats td:hover big {
	font-size:40pt;
	text-decoration:underline;
}	

.explore_stats_projects {
	color:#A00;
}
.explore_stats_collaborators {
	color:#770;
}
.explore_stats_institutions {
	color:#0A0;
}
.explore_stats_publications {
	color:#077;
}
.explore_stats_stations {
	color:#00A;
}
.explore_stats_species {
	color:#707;
}
.explore_stats_animals {
	color:#000;
}


#explore_controls {
	width:100%;
}

#explore_map_container {
  width: 100%;
  font-family:arial;
}
#explore_map_container .header {
	width:100%;
	background-color:#231f20;
	color:#FFD;
}
#explore_map_container .header > div.animate_timeline img {
	filter:invert(100%);
	height:16px;
}
#explore_map_container .header > div > div {
	margin: 0;
	font-variant:small-caps;
	padding:20px;
	display:inline-block;
}
#explore_map_container .header > div {
	display:inline-block;
	background:transparent;
	transition-duration:0.25s;
	transition-property:all;
	cursor:pointer;
	white-space:nowrap;
}
#explore_map_container .header > div.exploreBy {
	transition-duration:0.25s;
	transition-property:all;
}
#explore_map_container .header > div.exploreBy:not(.selected):hover {
	cursor:pointer;
	background:#406e23;
}
#explore_map_container .header > div:not(.selected) div:not(.show-selected) {
	background:transparent;
	transition-duration:0.25s;
	transition-property:all;
}
#explore_map_container .header > div.exploreBy.selected div:not(.show-selected) {
	background:#609e43;
}

#explore_map_container .header > div:not(.selected) > div.show-selected {
	display:none;
	transition-duration:0.25s;
	transition-property:all;
}

#explore_map_container .header > div.selected > div.show-selected, #explore_map_container .header > div.animate_timeline.selected {
	background:#333;
	color: #DDD;
	cursor:pointer;
}
#explore_map_container .header > div.exploreBy.selected > div.show-selected:hover {
	background:#484a4b;
	color:#FFF;
	text-decoration:underline;
}



#explore_map_container h3 {
	margin:0px;
	line-height: 30px;
	border: 1px solid #DDD;
	background-color: #EEE;
}

#explore_map_container .filterButton {
	padding:20px 10px;
	fill: #DDD;
	cursor:pointer;
}
#explore_map_container > .header > div.filterButton:hover, #explore_map_container > .header > div.filterButton.selected,
#explore_map_container > .header > div.animate_timeline > div:hover, #explore_map_container > .header > div.animate_timeline div.show-selected:hover {
	background-color: #25628f;
	cursor:pointer;
	fill: #FFF;
}
#explore_map_container .header > div.filterButton:not(.selected):hover {
	cursor:pointer;
}

#explore_map {
	width:100%;
	height:calc(100vh - 350px);
}
#explore_map_container .toggleButton.mapBy {
	display:inline-block;
	text-align:center;
	cursor:pointer;
	margin-right:10px;
	border:solid 2px #000;
	padding:5px;
	border-radius:3px;
	background-color:#FFF;
	transition-duration:0.25s;
	transition-property:color background-color;
	fill:#000;
}


#explore_map_container .toggleButton.mapBy:hover {
	background-color:#DDD;
}


#explore_map_container .toggleButton.mapBy.selected {
	color:#FFF;
	background-color:#000;
	fill:#FFF;
}

#explore_map_container #filter_summary {
	position:relative;
    z-index: 1001;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #FFF;
    color: #000;
    padding-left: 20px;
    font-size: 10pt;
}
#explore_map_container #filter_summary > div.visible {
	display:inline-block;
	margin-left:10px;
}
#explore_map_container #filter_summary > div:not(.visible):not(#explore_map_legend) {
	display:none;
}
#explore_map_container #filter_summary > div > span {
	text-decoration:underline;
	cursor:pointer;
	transition-duration:0.25s;
	transition-property:color;
	color:#00F;
}

#explore_map_container #filter_summary > div > span:hover {
	color:#55F;
}

#explore_map_legend {
	position:relative;
	top: -60px;
	z-index:1001;
	top: calc(350px - 100vh);
	float:right;
}
#explore_map_legend.vertical-legend {
	height: calc(100vh - 350px);
}
#explore_map_legend > svg {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8bw8AAkMBQJZrKwoAAAAASUVORK5CYII=); 
	padding:10px;
}
#explore_map_legend.vertical-legend > svg {
	padding-top:24px;
	padding-right:120px;
	height: calc(100vh - 350px);
}

#explore_map_legend .map_legend_title {
	font-size:12pt;
}
#explore_map_legend .explore_legend_ordinal {
	cursor:pointer;
}
.select2-selection__choice {
	font-size:10pt;
	color:#333;
}


.mapType_points.hidden, .mapType_regions.hidden, .mapType_tracks.hidden, .mapType_deployments.hidden, .mapType_table.hidden {
	display:none;
}

.mapBy-controls {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin: 10px;
}
.dataType_stations.hidden, .dataType_species.hidden {
	display:none !important;
}

.station_manage {
  color: #00f;
  text-decoration: underline;
  padding-right: 10px;
}

.station_manage img {
  float: right;
}

.explore_title {
  font-size: 30pt;
  border-bottom: solid 1px #CCC;
  margin: 0;
}

.explore_title span {
  vertical-align: middle;
  font-size: 20px;
  height: 20pt;
  display: inline-block;
}

.icon {
  margin-left: 15px;
  opacity:0.75;
  cursor:pointer;
}
.station_manage_icon:hover {
	opacity:1;
	cursor:pointer;	
}


.explore_metrics {
	width:100%;
}
/*
.explore_species {
  border: 1px solid #DDD;
  width: calc(100% - 2px);
}*/

.explore_metrics > *:not(.metric_controls):not(.visible):not(.header) {
	display:none;
}

.explore_metrics .header, .explore_card > .header {
	padding: 0 10px;
	margin:0px;
	line-height: 30px;
	height: 30px;
	border: 1px solid #DDD;
	background-color: #E6E6E6;
	font-weight:bold;
	font-size:14pt;
	cursor:pointer;
}
.explore_metrics .header:hover, .explore_card > .header {
	background-color: #EEE;
}
.explore_pic {
  width: 200px;
  height: 150px;
  text-align: center;
  white-space: nowrap;
}

.explore_pic img {
  vertical-align: middle;
  max-height: 140px;
  max-width: 200px;
  cursor:pointer;
  padding: 1px;
  border: solid 1px #fff;
}

.explore_pic img:hover {
  border:1px dashed #AAA;
}		

/***************************
		
		FILTERS
		
***************************/

#explore_controls > div > img:not(.timeline) {
	width:20px;
	height:20px;
	vertical-align:middle;
}

#explore_controls {
}

#explore_controls > div:not(.spacer) {
	display:inline-block;
	margin:5px;
	border:solid 2px #000;
	border-radius:5px;
	padding:5px;
	line-height:25px;
	vertical-align:middle;
}


#explore_controls .filterButton:not(.no-default) {
	vertical-align:middle;
	transition-duration:0.25s;
	transition-property:all;
}

#explore_controls .filterButton:not(.selected):not(.no-default) {
	width:20px;
	height:20px;
}

#explore_controls .filterButton.selected {
	height:auto;
	width:auto;
}
/*
#explore_filters:not(.visible) {
	display:none;
}*/

#explore_filters {
	background-color:#25628f;
	position:relative;
	margin-bottom: 0;
	z-index:1002;
}
#explore_filters > div {
	display:none;
}
#explore_filters > div:not(#station_activityTimeline) {
	padding:10px;
	color:#FFF;
	font-weight:bold;
}
#explore_filters > div:not(#station_activityTimeline) > div {
	display:inline-block;
	margin:5px 10px;
}
/***************************
		
		INFORMATION
		
***************************/


.explore_info > table {
	display:inline-table;
	height:150px;
}
.explore_info td:first-child > img {
	width:15px;
}

.explore_about {
  padding: 10px;
}
.station_hourlyDetections img {
	max-height:300px;
}

.metric_controls {
	float:right;
	opacity:0.5;
	cursor:pointer;
	transition-duration:0.25s;
	transition-property:opacity;
	padding:2px;
	height:15px;
	white-space:nowrap;
}

.metric_controls:hover {
	opacity:1;
}

.metric_controls img {
	width:15px;
	display:inline-block;
}
.explore_metrics > .graph,
.explore_metrics > .timeline {
	width:100%;
}
/*


.explore_species table {
  border-collapse: collapse;
}

.explore_species table tbody tr:nth-child(even) {
	background-color:#F5F5F5;
}
.explore_species td {
  height: 30px;
  padding: 0 10px;
}

.explore_species th {
  height: 30px;
  padding: 0 10px;
}

.explore_species thead {
  line-height: 30px;
  border: 1px solid #DDD;
  background-color: #EEE;
  font-weight:bold;
}

.explore_species tbody td:nth-child(2) {
  font-style: italic;
}

.explore_species tbody td:nth-child(3) {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: #00F;
}
.explore_species .legend_color {
	width:10px;
	height:10px;
	border:solid 1px #000;
}

.explore_species tr:hover {
	background-color:#FFD !important;
	cursor:pointer;
}


*/


.expanded_metrics {		
	position:fixed;
	left: 10%;
	width:80%;
	z-index: 1098;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tooltip {
	display:none;
	z-index:1099;
	position:absolute;
	background:#FAFAFA;
	border:solid 1px #DDD;
	border-radius:5px;
	padding:10px;
	font-weight:bold;
}


.enlarge {
	cursor:pointer;
}

#lightbox {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	cursor:pointer;
	display:none; 
	z-index:1098;
	text-align: center;
	white-space: nowrap;
}
#lightbox img {
	max-height:80%;
	vertical-align:middle;
}
#lightbox_bg {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display:none; 
	z-index:1098;
	background:#555;
	opacity:0.5;
	cursor:pointer;
}
#leftMenu {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:50px;
	padding:20px 0px;
	background:transparent;
	border-right:none;
	transition-duration: 0.25s;
	transition-property: all;
}
#leftMenu.visible {
	z-index:1096;
	background:#FFF;
	width:300px;
}

#leftMenu > div.content_wrapper {
	opacity:0;
	transition-duration: 0.25s;
	transition-property: all;
	overflow:hidden;
	display:none;
}
#leftMenu.visible > div.content_wrapper {
	opacity:1;
	display:block;
}
#leftMenu > div.content_wrapper ul {
	list-style:none;
	margin: 0;
	padding: 0;
}
#leftMenu > div.content_wrapper > a, 
#leftMenu > div.content_wrapper > div {
	display:block;
	padding:5px;
	margin:2px;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
} 
#leftMenu > div.content_wrapper > div {
	margin-top:10px;
}
#leftMenu > div.content_wrapper > a {
	background-color:#FAFAFA;
	border:solid 1px #AAA;
	color:#00A;
}
#leftMenu > div.content_wrapper > a:hover {
	background-color:#FFF;
}

#leftMenu img.icon.close {
	float:right;
	display:none;
	margin-right:10px;
}

#station_activityTimeline {
	width:100%;
	display:block;
}
#station_activityTimeline .slider {
	position:relative;
	top:8px;
	border-width:0px;
	height:30px;
	background-color:transparent;
}

#station_activityTimeline .timeline {
	margin-top:-40px;
	height:50px;
	width:100%;
}

#activityTimeline {
	width:100%;
	height:50px;
	margin-top:-25px;
	color:#FFF;
}

.ui-slider-horizontal .ui-slider-range {
	background-color:#FD0;
	/*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNksAcAAEUAQRtOwGEAAAAASUVORK5CYII=);*/
	/*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==);*/
	opacity:0.5;
	transition-duration:0.5s;
	transition-property:opacity;
	top: calc(50% - 18px);
	height: 20px;
}

.ui-slider-horizontal:hover .ui-slider-range {
	opacity:1;
	cursor: ew-resize;
}


.ui-slider .ui-slider-handle {
	width:20px;
	height:30px;
	top:-8px;
	margin-left:-10px;
	border-width:0px;
	border-radius:7px;
	border-color:#FFF;
	background-color:#FFF;
	cursor:pointer;
	background-image: url(https://www.flaticon.com/premium-icon/icons/svg/2311/2311528.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: center;
	filter:invert(100%);
}
/*
.ui-slider .ui-slider-handle:before {
	content: "";
	position: absolute;
	top: 27px;
	width: 0;
	left:1px;
	height: 0;
	border-left: 9px solid transparent;
	border-top: 15px solid #FFF;
	border-right: 9px solid transparent;
}*/

.ui-slider .ui-slider-handle-text {
	display:block;
	width:100px;
	margin-left:-40px;
	margin-top:-20px;
	background:#FFF;
	text-align:center;
	border:solid 2px #555;
	border-radius:inherit;
	color:#000;
	opacity:0;
	transition-duration:0.5s;
	transition-property:opacity;
}

.ui-slider:hover .ui-slider-handle-text {
	opacity:1;
	display:block;
	
}
:focus {
    outline: 0;
}

.expanded_metrics #explore_mapStations_regions {
	position:fixed;
	top:10%;
	left:10%;
	bottom:10%;
	right:10%;
	height:80%;
	width:80%;
	border:solid 2px #000;
}

#explore_map {
	cursor:grab;
}
#explore_map:active {
	cursor:grabbing;
}



.explore-map-regions {
	fill-opacity: 0.5;
	stroke: black;
	stroke-width:2px;
}

.explore-map-stations, .explore-map-species {
	cursor:pointer;
}
#mapInfoPanel {
	display:none;
	padding:20px;
	max-width:300px;
	z-index:1000;
	overflow-x:hidden;
	overflow-y:auto;
}
#mapInfoPanel div {
	margin:10px;
}